ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu li {
    float: left;
}
ul.menu li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    background-color: #333;
}

ul.menu li button:hover:not(.active) {
    background-color: white;
    color: black;
}